:root {
    --container-colour: rgb(255, 235, 171);
    --header-colour: rgb(255, 233, 134);
    --sidebar-colour: rgb(255, 209, 111);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: var(--container-colour);
    height: 100vh;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.header {
    height: 8vh;
    background-color: var(--header-colour);
    box-shadow: 0px 0px 7px 2px black;
}

.sidebar {
    position: absolute;
    top:8vh;
    height: 92vh;
    width: 20vw;
    left: -16vw;
    background-color: var(--sidebar-colour);
    box-shadow: 0px 10px 7px 2px rgb(0, 0, 0);
    transition: .3s ease-in;
    color: var(--sidebar-colour);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar:hover {
    width: 20vw;
    left: 0;
    color:rgb(0, 0, 0);
}

.two-p-container {
    background-color: rgb(255, 178, 78);
}

.one-p-container {
    display:flex;
    flex-direction: column;
}

.easy-container,
.hard-container {
    height: 50%;
}

.easy-text,
.hard-text {
    padding-left: 25px;
    font-size: 1.4rem;
}

.two-p-text,
.one-p-text {
    font-size: 1.7rem;
    padding-left: 15px;
    font-weight: bold;
}


.main {
    display:grid;
}

.gameboard-container {
    display:grid;
    height: 80vh;
    width: 80vh;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(3, calc(80vh / 3));
    grid-template-rows: repeat(3, calc(80vh / 3));
}

.square {
    display:flex;
    height:90%;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 185);
    border-radius: 30px;
}

.x-img,
.o-img {
    width: 70%;
    user-select: none;
}
