:root {
    --container-colour: rgb(255, 235, 171);
    --header-colour: rgb(255, 233, 134);
    --sidebar-colour: rgb(255, 209, 111);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

.container {
    background-color: var(--container-colour);
    height: 100vh;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.header {
    height: 8vh;
    background-color: var(--header-colour);
    box-shadow: 0px 0px 7px 2px black;
}

.sidebar {
    position: absolute;
    top:8vh;
    height: 92vh;
    width: 20vw;
    left: -16vw;
    background-color: var(--sidebar-colour);
    box-shadow: 0px 10px 7px 2px rgb(0, 0, 0);
    transition: .3s ease-in;
    color: var(--sidebar-colour)
}

.sidebar:hover {
    width: 20vw;
    left: 0;
    color:rgb(0, 0, 0);
}

.main {
    display:grid;
}

.gameboard-container {
    display:grid;
    height: 80vh;
    width: 80vh;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(3, calc(80vh / 3));
    grid-template-rows: repeat(3, calc(80vh / 3));
}

.square {
    display:flex;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.x-img,
.o-img {
    width: 70%;
}
