:root {
    --container-colour: rgb(255, 235, 171);
    --header-colour: rgb(255, 233, 134);
    --sidebar-colour: rgb(255, 209, 111);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: var(--container-colour);
    height: 100vh;
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.header {
    position: absolute;
    display:grid;
    /* grid-template-rows: 10fr 1fr; */
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 0fr;
    height: 100vh;
    width: 100vw;
    bottom: 1vh;
    /* background-color: var(--header-colour); */
    background-color: rgba(255, 233, 134, 0.35);
    box-shadow: 0px 0px 7px 2px black;
    transition: 1s;
}

.header-show {
    bottom: 1vh;
}

/* .header:hover {
    bottom: 20vh;
} */

.header-main {
    width: 100%;
    /* background-color: white; */
    display:grid;
    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-rows: 0fr 0fr; */
    font-size: 5rem;
    text-align: center;
    /* border:2px solid yellow; */
    grid-template-rows: 0fr 0fr 1fr;
    /* gap: 20%; */
    justify-items: center;
    align-items: end;
}

.mode {
    padding-top: 25%;
    padding-bottom: 10%;
    font-size: 3rem;
}

.header-text {
    display:grid;
}

.continue-button {
    width: 60%;
    padding: 5px;
    font-size: 4rem;
    border-radius: 20px;
    background-color: rgb(255, 223, 163);
    border: 8px solid rgb(141, 143, 112);
}

.score-container {
    display: grid;
    padding-top: 60%;
    grid-template-rows: 0fr 0fr;
    text-align: center;
    font-size: 4rem;
    gap: 10%;
}

.score-text {
    font-size: 12rem;
}

.footer {
    position: relative;
    height: 8vh;
    background-color: rgb(255, 233, 134);
    grid-column: 1 / -1;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 0fr;
    grid-auto-flow: column;
    align-items: center;
}

.logo-link {
    justify-self: end;
    padding-right: 3%;
    /* position: absolute; */
    /* top: 1px; */
}

.tic-tac-toe {
    /* position: absolute; */
    height: 8vh;
    /* padding-top: 5px; */
    padding-left: 3%;
}

.title-text {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 3px 2px rgb(110, 109, 109);
}

.logo-img {
    height: 8vh;
    /* padding-top: 10px; */
}


/* .header:hover {
    bottom: 0vh;
    background-color: rgba(255, 233, 134, 0.35);
} */


.sidebar {
    position: absolute;
    top:8vh;
    height: 92vh;
    width: 20vw;
    left: -16vw;
    background-color: var(--sidebar-colour);
    box-shadow: 0px 10px 7px 2px rgb(0, 0, 0);
    transition: .3s ease-in;
    color: var(--sidebar-colour);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar:hover {
    width: 20vw;
    left: 0;
    color:rgb(0, 0, 0);
}

.two-p-container {
    background-color: rgb(255, 178, 78);
}

.one-p-container {
    display:flex;
    flex-direction: column;
}

.easy-container,
.hard-container {
    height: 50%;
}

.easy-text,
.hard-text {
    padding-left: 25px;
    font-size: 1.4rem;
}

.two-p-text,
.one-p-text {
    font-size: 1.7rem;
    padding-top: 10px;
    padding-left: 15px;
    font-weight: bold;
}


.main {
    position: absolute;
    top:10vh;
    display:grid;
    width: 100vw;
    left:0;
    height: 90vh;
}

.gameboard-container {
    display:grid;
    height: 80vh;
    width: 80vh;
    align-self: center;
    justify-self: center;
    justify-items: center;
    grid-template-columns: repeat(3, calc(80vh / 3));
    grid-template-rows: repeat(3, calc(80vh / 3));
}

.square {
    display:flex;
    height:90%;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 146);
    border-radius: 30px;
    border: 8px solid rgb(197, 197, 132);
    transition: .5s;
}

.square:hover {
    transform:scale(1.1);
    border-color: rgb(75, 75, 75);
}

img.hover {
    opacity: .8;
    transform:scale(.7)
}

.x-img,
.o-img {
    width: 70%;
    user-select: none;
    opacity: 1;
    transition: .3s;
}
